<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pierre's Bakery Sweet-Treat Ordering</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="~/css/styles.css">
    </head>
    <body class="container tp-5">
        @RenderBody()
    </body>
</html>